@model amazonMechanicalTurk.Models.JobInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>JobInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExplanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCountRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCountRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCountDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCountDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
